.App {
  text-align: center;
  height: 100%;
  color: white;
  background-color: #232b2b;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #232b2b;
  height: 100%;
}
.hint-box {
  height: 75px;
  width: 75px;
  border: 2px solid black;
  border-radius: 2px;
  flex-basis: 89px;
}
p {
  font-weight: bold;
}
